<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net452" />
  <package id="TPG.GeoFramework.Style.Core.Contracts" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.GeoFramework.Symbols.Contracts" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.Maria.Common" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.Maria.CustomLayer" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.Maria.MapLayer" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.Maria.MariaUserControl" version="2.0.0.70" targetFramework="net46" />
  <package id="TPG.Maria.TrackLayer" version="2.0.0.70" targetFramework="net46" />
</packages>